.SwitchRoot {
  padding: 0;
  width: 42px;
  height: 25px;
  min-height: unset;
  background-color: #666;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px #222;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: #444;
  }
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px #222;
}
.SwitchRoot[data-state="checked"] {
  background-color: #447df7;
}

.SwitchThumb {
  position: absolute;
  display: block;
  padding: 0;
  top: 1px;
  left: -1px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.Label {
  display: inline-flex;
  gap: 0.5rem;
}
