$bd: solid #333 1px;

.sudoku-grid {
  grid-area: board;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  max-width: calc(100vh - 4rem);
  border: 2px solid white;

  &--note-high-contrast {
    --note-color: #eee;
  }
}

.sudoku-cell {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: larger;
  padding: 0;
  line-height: 1;
  aspect-ratio: 1 / 1;
  border: $bd;
  border-radius: 0;
  transition: background-color 0.1s;

  &__bd {
    &-r {
      border-right: 1px white solid;
    }
    &-b {
      border-bottom: 1px white solid;
    }
  }

  &__edit.sudoku-cell__fixed {
    color: #447df7;
  }

  &:hover {
    background-color: #222;
  }

  &:focus {
    outline: solid 3px #447df7;
    border-radius: 4px;
    z-index: 1;
    background-color: #09193b;
  }
}

.sudoku-cell-note {
  position: absolute;
  inset: 0;
  display: grid;
  padding: 2px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--note-color, #555);

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
